

$font-header: 'Source Sans Pro', sans-serif;
$font-primary: 'Open Sans', sans-serif;

$color-primary: #fff;

$color-primary-header--dark: #333b46;
$color-primary--dark: #81868e;

$background--grey: #f3f3f3;
